<h4>Final confirmation</h4>
    <div class="body">
      <div class="Bank-logo">
          LOGO
      </div>
      <div class="Bank-use">
          Bank Use. This area can be used by the bank for their promotional message, other related information
      </div>
   
     
      <div class="mandate">
          <div class="mandate-details">
              
              <div class="mandate-form">
                  <div class="mandate-form-grid">
                      <label for="mandate-issued-to" class="inputLabel">Mandate issued to</label>
                      <input id="mandate-issued-to" class="inputField" 
                      [(ngModel)]="customer.corporateName" name = "corporateName" />

                      <label for="start-date" class="inputLabel">Start date</label>
                      <input id="start-date" class="inputField" 
                      [(ngModel)]="customer.startDt" name = "startDt"/>

                      <label for="end-date" class="inputLabel">End date</label>
                      <input id="end-date" class="inputField"
                      [(ngModel)]="customer.endDt" name = "endDt" />

                      <label for="frequency" class="inputLabel">Frequency</label>
                      <input id="frequency" class="inputField"
                       [(ngModel)]="customer.frequency" name = "frequency" />
                      
                      <label for="amount-figures" class="inputLabel">Amount in figures</label>
                      <input id="amount-figures" class="inputField" />
                      
                      <label for="amount-words" class="inputLabel">Amount in words</label>
                      <input id="amount-words" class="inputField" />
                      
                      <label for="mandate-purpose" class="inputLabel">Purpose of mandate</label>
                      <input id="mandate-purpose" class="inputField" />
                  </div>
                  
                  
                  
                  
                  <p class="powered-by">E-Mandate powered by</p>
                  <div class="brands">
                      <div class="brands__image-wrapper">
                          <img src="../assets/NACH-Logo.png" class="brands__image" />
                      </div>
                      <div class="brands__image-wrapper">
                          <img src="../assets/NACH.jpg" class="brands__image" />
                      </div>
                  </div>


              </div>
          </div>
      </div>
  </div>
