<div class="body">
        <div class="Bank-logo-area">
            <div class="Bank-logo">
                <p>Bank Logo</p>
            </div>
        </div>
        <div class="mandate-text-area">
            <div class="mandate-text">
                <p class="mandate-text">Dear Customer,<br>Your in the process of registration of a E-Manda
                     click <b>"proceed"</b> to initiate mandate registration process 
                     if the below mentioned fields are correct</p>
            </div>
        </div>
        <div class="mandate-details-area">
            <div class="mandate-details-text">
                <p class="mandate-details-text">Mandate details</p>
            </div>
        </div>
        <div class="mandate-detail-form">
            <label class="form-label">Account number</label>
            
                <input type="text" class="form-input" disabled placeholder="Customer account number"
                [(ngModel)]="customer.accountNo" name = "accountNo">
        </div>
        <div class="mandate-detail-form">
            <label class="form-label">Mandate Issued To</label>
            
                <input type="text" class="form-input" disabled placeholder="Corporate name"
                [(ngModel)]="customer.corporateName" name = "corporateName">
        </div>
        <div class="mandate-detail-form">
            <label class="form-label">Start Date</label>
            
                <input type="date" class="form-input" disabled
                [(ngModel)]="customer.startDt" name = "startDt">
        </div>
        <div class="mandate-detail-form">
            <label class="form-label">End Date</label>
            
                <input type="date" class="form-input" disabled
                [(ngModel)]="customer.endDt" name = "endDt">
        </div>
        <div class="mandate-detail-form">
            <label class="form-label">Frequency</label>
            
                <input type="text" class="form-input" disabled
                [(ngModel)]="customer.frequency" name = "frequency">
        </div>
        <div class="mandate-detail-form">
            <label class="form-label-amount">Amount in figure</label>
            
                <input type="text" class="form-input-rupee" disabled placeholder="Rupee"
                [(ngModel)]="customer.amount" name = "amount">
                <input type="text" class="form-input-paise" disabled placeholder="paise">
        </div>
        <div class="mandate-detail-form">
            <label class="form-label">Amount in words</label>
            
                <input type="text" class="form-input" disabled placeholder="To be populated by bank">
        </div>
        <div class="mandate-detail-form">
            <label class="form-label">Purpose of mandate</label>
            
                <input type="text" class="form-input" disabled placeholder="As per NPCI category">
        </div>

        <div class="btn-group">
            <button class="btn" type="submit" routerLink = "/proceed">Proceed</button>
            <button class="btn">Cancel</button>
        </div>
        <p class="powered-by">E-Mandate powered by</p>
        <div class="brands">
            <div class="brands__image-wrapper">
                <img src="../assets/NACH-Logo.png" class="brands__image" />
            </div>
            <div class="brands__image-wrapper">
                <img src="../assets/NACH.jpg" class="brands__image" />
            </div>
        </div>
    </div>